<%= form_for(@employee, :remote => true) do |f| %>
  <li><%= f.label :name %><%= f.text_field :name, :class => "required" %></li>
  <li><%= f.label :phone %><%= f.text_field :phone %></li>
  <li><%= f.label :email %><%= f.text_field :email %></li>
  <li><%= f.submit (t'save'), :class => 'submit' %></li>
<% end %>