<div class="dialog_form dialog_invoice_form" id="invoice_update_<%= invoice.id %>_form" title="<%= t'helpers.submit.update', model: Invoice.model_name.human %>" style="display:none;"></div>
  <div class="dialog_form dialog_sending_invoice_form" id="sending_invoice_<%= invoice.id %>_form" title="<%= t'helpers.submit.send', model: Invoice.model_name.human %>" style="display:none;"></div>
  <div class="dialog_form dialog_invoice_form" id="credit_note_<%= invoice.id %>_form" title="<%= t'general.create_new' %> <%= t'economic.credit_note' %>" style="display:none;"></div>