<ul>
	<% @milestones.each do |milestone|%>
	<% if milestone.due >= time_zone_now.to_date %>
	<li>
	  	<div class="row_milestone green">
		  	<%= link_to truncate(milestone.goal, :omission => "...", :length => 18), project_path(milestone.project).to_s + "/#tabs-4"%>
		  	 <div class="date_format_setter" data-date="<%= milestone.due %>"><%= milestone.due %></div>
	  	</div> 
	  </li>
	  <% else %>
		<li>
	  	<div class="row_milestone red">  	
		  	<%= link_to truncate(milestone.goal, :omission => "...", :length => 18), project_path(milestone.project).to_s + "/#tabs-4"%>
		  <div class="date_format_setter" data-date="<%= milestone.due %>"><%= milestone.due %></div>
	  	</div> 
	  </li>
	   <%end%>
	  <%end%>
</ul>