<%= form_for(current_firm.users.build, :remote => true, :url => {:controller => "users", :action => "create"}) do |f| %>
		<ul> 
		  <li><%= f.label :name %><%= f.text_field :name, :class => "required"%> </li>
		  <li><%= f.label :email %><%= f.text_field :email, :class => "required", :email => "true" %></li>
		  <li><%= f.label :password %><%= f.password_field :password, :minlength => "8" %></li>
		  <li><%= f.label :phone %><%= f.text_field :phone %></li>
	 	  <li><%= f.label :hourly_rate %><%= f.text_field :hourly_rate %></li>	
		  <li>	
		  	<p><%= f.radio_button :role, 'Admin', :checked => true %> <%= label :role, 'Admin (can see and edit everything)' %></p>
		  	<p><%= f.radio_button :role, 'Member' %> <%= label :role, 'Member (can see everything and edit projects where they are members)' %></p>
		  	<p><%= f.radio_button :role, 'external_user' %> <%= label :role, 'external_user (can only see and edit projects where they are members)' %></p>
		  </li>
		  <!-- <li><#= f.label :send_welcome_email? %><%= check_box_tag 'send_welcome_email', "yes", true%></li> -->
  		<li><%= f.submit (t'save'), :class => "submit" %></li>
  		</ul>
  <% end %>