<div class="log_menu">
	<div class="range" >	   
    <div id="range_date_fields_graphs">
		  <%= text_field_tag 'from',date_format(time_zone_now - 1.week),  class: "range_date_graphs", id: "from_stat"%>
			<%= text_field_tag 'to',date_format(time_zone_now), class: "range_date_graphs", id: "to_stat"  %>
		</div> 
 	</div>
  <div class="logs_pr_date">
		<select class="small_selector" id="stats">
      <option value="users_logs"><%= t('activerecord.models.user.more').capitalize %></option>
	  	<option value="projects_logs"><%= t('activerecord.models.project.more').capitalize %></option>
	  	<option value="customers_logs"><%= t('activerecord.models.customer.more').capitalize %></option>   
    	</select>
  </div> 
</div>

