<%= form_for(@project, :remote => true) do |f| %>
  <ul>
      <li><%= f.label :name %><%= f.text_field :name, :class => "required", :minlength => "2" %></li>
      <li><%= f.label :description %><%= f.text_area :description %></li>
      <% if @klass.class == Customer %>
      	<%= f.hidden_field :customer_id, value: @klass.id %>
      <% else %>
	      <li><%= f.label :customer %><%= f.select(:customer_id, all_customers.map {|customer| [customer.name, customer.id]}, {:include_blank => t('general.none')})%></li>
	    <% end %>
      <li><%= f.label :budget %><div id="money_input_wrapper"><%= f.text_field(:budget)%> <%= currency_symbol %></div></li>
      <li><%= f.submit (t'save'), :class => 'submit', :id => "submit_project_edit" %></li>
  </ul>
<% end %>