<table class="spendings_table">
	<tr class="spendings_headers">
		<th>
			<%= (t'activerecord.models.user.one').capitalize %>
		</th>
		<th>
			<%= (t'activerecord.attributes.user.hourly_rate') %>
		</th>
		<th>
			<%= (t'times.hour.more').capitalize %>
		</th>
		<th>
			<%= (t'economic.total') %>
		</th>
	</tr>
	<% ProjectPrice.get_cost_per_user(@klass).each do |u| %>
	<tr>
		<td>
			<%= u[0] %>
		</td>
		<td class="currency_to_convert" data-amount="<%= u[1].try(:round,0)%>">
			 <%= u[1].try(:round,0)%>
		</td>
		<td class="seconds" data-hours="<%= u[2] %>">
			<%= u[2] %>
		</td>
		<td class="user_project_price currency_to_convert" data-amount="<%= u[3].try(:round,0) %>" >
			 <%= u[3].try(:round,0) %>
		</td>	
	</tr>
	<% end %>
	<tr class="spending_total">
		<td><%= (t'economic.total') %></td>
		<td></td>
		<td></td>
		<td class="currency_to_convert" data-amount="<%= ProjectPrice.get_hours(@klass).try(:round,0)%>"><%= ProjectPrice.get_hours(@klass).try(:round,0)%></td>
	</tr>
</table>