<% if @klass.class != User %>
<div id="timesheet_log_menu">
  <div class="add_some_timesheet"  data-date="<%= time_zone_now.to_date %>", data-klass="<%= @klass ? @klass.class : "index" %>", data-id="<%= @klass ? @klass.id : "index" %>">
    <% if true  %><%# if can? :manage, Firm %>

    <select id="timeheet_user_select" name="select_user_id">
    	<option value=""><%= t("general.all") %></option>
    	<% @users.each do |u| %>
    	<% if @user == u  %>
    	<option value="<%= u.id %>" selected="selected"><%= u.name %></option>
    	<%else %>
    	<option value="<%= u.id %>"><%= u.name %></option>
    	<% end %>
    	<% end %>
		</select>
    <% end %>
   </div>
  <div class="timesheet_for_user"><%= t'general.timesheet_for' %> <%= @user ? @user.name : t("general.all") %></div>
</div>
<% end %>
