<div class="info task_info" id="todo_<%=todo.id%>"   data-due="<%= todo.due.strftime("%Y%j")%>"> 	
  <div class="priority_todo <%=todo_priority(todo.prior)%>" title="Priority"></div>
  <%= form_for todo, :remote => true, :html => {:id => "edit_done_todo_#{todo.id}"} do |f| %>
  <%= f.check_box :completed, :class => "done_box", :id => todo.id %>
   <% end %>
  <% if !todo.logs.blank? %>
  <div class="logs_pluss" id="<%=todo.id%>" title="Show logs">+</div>
  <div class="logs_minus" id="<%=todo.id%>" title="Hide logs" style="display: none">-</div>
	<% else %>
	<div style="min-height: 10px;width: 10px;display: inline-block;"></div>
	<% end %>
 <div class="name_todo"><%= todo.name %> </div> 
 	
  <div class="project_todo smaller"><% if todo.project %><%= link_to truncate(todo.project.name, length: 14,  omission: ""), project_path(todo.project)%><% end %></div>
  <% if !todo.completed %>
  	<div class="user_todo smaller"><% if todo.user %><%=link_to todo.user.name, user_path(todo.user) %><% end %></div>
  <% else %>
  	<div class="user_todo smaller"><% if todo.done_by_user %><%=link_to todo.done_by_user.name, user_path(todo.user) %><% end %></div>
  <% end %>
  <div class="customer_todo smaller"><% if todo.customer %><%=link_to todo.customer.name, customer_path(todo.customer) %><% end %></div>
  
  <div class="date_all <% if todo.overdue %>red<% end %><% if todo.due_to_day %>green<% end %> date_format_setter" data-date="<%= todo.due %>"></div>
   <div class="delete_edit">
  <span class="open_todo_update edit" id="todo_update" data-id="<%= todo.id %>" data-object="todo"><%= t('edit') %></span>
  <%= link_to (t"delete"), todo, data: { confirm: t('are_you_sure?') }, :title => "Delete task", :method => :delete, :class => "delete_todo delete", :remote => true%>
</div>
  
 <div class="dialog_form" id="todo_update_<%= todo.id %>_form" title="<%= t'helpers.submit.update', model: Todo.model_name.human %>" style="display:none;"></div>
<div class="display_todo_logs" id="todo_logs_<%=todo.id%>" style="display: none"></div> 
</div>
